*.iml
app/libs/*.aar
app/src/main/assets/models/*.onnx
app/src/main/assets/models/*.onnx.part.*
app/src/main/assets/models/*-tokens.txt
app/src/main/assets/tessdata/*.traineddata
.gradle
.kotlin
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
**/build/
/captures
.externalNativeBuild
.cxx
local.properties
.env
debug.keystore
